* {
  /* outline: solid red 1px; */
  padding: 0;
  margin:0;
}

#root {
  min-height: 100vh;
}

#header {
  padding: 10px;
}

#mainwindow {
  grid-template-columns: 300px auto;
  /* min-height: 100vh; */
}

#sidebar {
  padding-inline: 10px;
  position: sticky;
  top: 0;
  flex-shrink: 1;
  align-self: flex-start;
  overflow-y: auto;
  max-height: 100vh;
}

#sidebar-resultbutton {
  display: none;
}

#planlist {
  grid-template-columns: minmax(300px, 800px) 150px 250px;
  margin: 0 auto;
  flex-shrink: 4;
  min-height: 100vh;
  align-content: start;
}

#planlist > .column-header {
  padding-inline: 3px;
  position: sticky;
  top: 0;
  background-color: white;
}

.plan-name-container {
  min-width: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
  #mainwindow {
    grid-template-columns: auto;
  }

  #sidebar-resultbutton {
    display: flex;
  }

  #planlist {
    grid-template-columns: 150px auto;
  }

  #planlist > .column-header {
    display: none;
    position: initial;
  }

  .plan-name-container {
    grid-column: 1/span 3;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and down) */
/* @media only screen and (max-width: 768px) {
  
} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */