.plan-row {
  display: contents;
}

.plan-row .plan-cell {
  background-color: #E0E0E0;
}

.plan-row:nth-child(even) .plan-cell {
  background-color: #C0C0C0;
}

.plan-row:hover .plan-cell {
  background-color: #DDFFFF;
}

.plan-row:hover .plan-name-container {
  text-decoration: underline;
}

/* min width is necessary for the ellipsis overflow to work */
.plan-cell {
  min-width: 0;
  cursor: pointer;
}
